@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
$small-device: 767px;
@mixin small-device {
    @media(max-width: #{$small-device}) {
        @content;
    }
}

$medium-device: 768px;
@mixin medium-device {
    @media(min-width: #{$medium-device}) {
        @content;
    }
}

$mylily:rgb(114,
29,
184);
$myred:#ff0053;
$mypink:#FF00BD;
$myorange:#FF9300;
$mygreen:#25FF00;
$myblue:#00C1FF;
$main-back-color: #01040a;
$light: rgba(240,
240,
240,
.93);
$dark: rgba(94,
91,
91,
0.93);