#navbar {
    z-index: 1000;
    border-bottom: 2px solid #223a59;
    display: flex;
    justify-items: center;
    width: 100%;
    padding: 10px 0;
    overflow: hidden;
    position: unset;
    background-color: rgb(2, 4, 12);
    @include small-device {
        top: -4px;
    }
    a.nav-link {
        color: #00c1ff;
        float: left;
        display: block;
        text-align: center;
        padding: 10px 10px 0 10px;
        text-decoration: none;
        border-bottom: 2px solid transparent;
    }
    a.nav-link.active {
        font-weight: bolder;
        color: #e4ebf5;
    }
    a.nav-link:hover {
        color: $mylily;
    }
    a img {
        height: 2.2rem;
    }
    .navbar-toggler {
        color: $myblue;
        padding: .25rem .75rem;
        font-size: 1.25rem;
        line-height: 1;
        background-color: transparent;
        border: 1px solid transparent;
        border-radius: .25rem;
    }
    button {
        position: relative;
        top: 6px;
        // left: -50px;
        margin-left: auto;
        // margin-right: auto;
        background: transparent;
        outline: none;
        border: none;
        transform-origin: 14px 0px;
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), opacity 0.55s ease;
        span:first-child {
            transform-origin: 0% 0%;
        }
        span:nth-last-child(2) {
            transform-origin: 0% 100%;
        }
        span {
            display: block;
            width: 33px;
            height: 4px;
            margin-bottom: 5px;
            position: relative;
            background: $myblue;
            border-radius: 3px;
            z-index: 1;
        }
    }
    .pritisnut {
        span:first-child {
            margin-top: -14px;
            opacity: 1;
            transform: rotate(45deg) translateX(13px) translateY(2px);
            background: $myblue;
        }
        span:last-child {
            opacity: 1;
            transform: rotate(-45deg) translateX(-1px) translateY(4px);
        }
        span:nth-last-child(2) {
            opacity: 0;
            transform: rotate(0deg) scale(0.2, 0.2);
        }
    }
    #navbarNavDropdown {
        @include small-device {
            top: 15px;
            opacity: 0;
        }
    }
    .navbar-nav {
        margin-bottom: 10px;
        margin-left: 15px;
    }
}

.sticky+#about {
    padding-top: 70px;
}

.sticky {
    position: fixed!important;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    // background-color: rgba(2, 4, 12, .5);
}