@import 'mixin';
#about {
    margin: 0;
    padding: 80px 0 20px 0;
    // height: 900px;
    background: url(../img/aboutnovi.svg) no-repeat;
    background-position: center;
    background-size: cover;
    h2 {
        margin-bottom: 50px;
        // text-shadow: -3px 2px 0 #FFFFFF, 2px 2px 0 #FFFFFF, 2px -2px 0 #FFFFFF, -2px 2px 0 #FFFFFF, -2px -2px 0 #FFFFFF, 2px 0px 0 #FFFFFF, 0px 2px 0 #FFFFFF, -2px 0px 0 #FFFFFF, 0px -2px 0 #FFFFFF;
    }
    h4,
    p {
        margin-top: 15px;
        color: white;
    }
    p {
        padding: 10px 5px 0 5px;
        text-align: justify;
        @include small-device {
            font-size: .9rem;
        }
    }
    div>img {
        @include small-device {
            height: 80px;
        }
    }
}

#portfolio {
    height: 900px;
}

#contact {
    height: 900px;
}