@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
#about h2:after {
  position: absolute;
  margin-left: -134px;
  height: 80px;
  width: 2px;
  background: white;
  background-size: cover;
  content: "";
  z-index: -1;
}

#about {
  color: white;
  position: relative;
  margin: 0;
  padding: 80px 0 60px 0;
  background: url(../img/aboutnovi.svg) no-repeat;
  background-position: center;
  background-size: cover;
}

#about .col-lg-6,
#about .col-lg-6,
#about .col-lg-3,
#about h2 {
  opacity: 0;
}

#about h2 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 2px solid white;
  padding: 10px 50px 10px 50px;
  margin-bottom: 140px;
}

@media (max-width: 767px) {
  #about h2 {
    margin-bottom: 80px;
  }
}

#about h4,
#about p {
  color: white;
}

#about p {
  padding: 10px 5px 0 5px;
  text-align: center;
}

@media (max-width: 767px) {
  #about p {
    font-size: .9rem;
  }
}

#about .row:first-of-type {
  margin-bottom: 120px;
}

@media (max-width: 767px) {
  #about .row:first-of-type {
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
  #about div.col-lg-6:last-of-type {
    margin-top: 30px;
  }
}

#about div.col-6 > img {
  height: 100px;
}

@media (max-width: 767px) {
  #about div.col-6 > img {
    height: 80px;
  }
}

#about div.col-6:first-of-type {
  width: 100%;
}

#about div.col-lg-6:first-of-type > img {
  background: white;
  border-radius: 50%;
  height: 200px;
  overflow: hidden;
  border: 6px solid #4ac7e5;
}

@media (max-width: 767px) {
  #about div.col-lg-6:first-of-type > img {
    height: 200px;
  }
}

#about .skill-tree {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  background: #252f5a;
}

#about .skill-tree .skill-buttons {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#about .skill-tree .skill-buttons span {
  font-size: .85rem;
  border: 2px solid black;
  width: 100%;
  margin: 1px;
  padding: 0 2px;
}

#about .skill-tree .mm-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
}

#about::before {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-size: cover;
  opacity: 1;
  content: "";
  z-index: -1;
}

.container {
  position: relative;
}

#portfolio h2:after {
  position: absolute;
  margin-left: 21px;
  height: 80px;
  width: 2px;
  background: black;
  background-size: cover;
  content: "";
  z-index: -1;
}

#portfolio::before {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: linear-gradient(45deg, rgba(236, 246, 248, 0.7), rgba(174, 188, 209, 0.7), rgba(233, 247, 250, 0.6));
  background-size: cover;
  opacity: 1;
  content: "";
  z-index: -1;
}

#portfolio {
  position: relative;
  background-size: cover;
  height: 100%;
  padding: 80px 0 180px 0;
}

#portfolio h2 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 2px solid black;
  padding: 10px 50px 10px 50px;
  margin-bottom: 140px;
}

@media (max-width: 767px) {
  #portfolio h2 {
    margin-bottom: 80px;
  }
}

#portfolio img {
  display: block;
  width: auto;
  height: 100%;
}

#portfolio p {
  height: 100%;
}

@media (max-width: 767px) {
  #portfolio p {
    height: 100%;
  }
}

#portfolio p::after {
  left: 0;
  top: -15px;
  border-radius: 50%;
  z-index: 0;
  display: block;
  width: 160px;
  height: 160px;
  opacity: .2;
  content: "";
  position: absolute;
  background: #00C1FF;
}

#portfolio div.col-lg-4,
#portfolio h2 {
  opacity: 0;
}

#portfolio .port-card {
  /* Safari prior 6.1 */
  height: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 80px 20px;
}

@media (max-width: 767px) {
  #portfolio .port-card {
    padding: 45px;
    margin: 0;
  }
}

#portfolio .port-card:hover::after {
  opacity: .95;
}

#portfolio .port-card:hover .card-inner {
  opacity: 1;
}

#portfolio .port-card a {
  position: relative;
  text-align: center;
  margin: auto;
}

#portfolio .port-card button {
  border: 5px solid rgba(90, 212, 240, 0.6);
  padding: 15px;
  background: transparent;
}

#portfolio .port-card button:hover {
  background: #8FD4E4;
  border: 5px solid #721db8;
}

#portfolio .port-card p {
  border-top: 3px solid rgba(114, 29, 184, 0.47);
  border-bottom: 3px solid rgba(114, 29, 184, 0.47);
}

#portfolio .port-card p,
#portfolio .port-card h5 {
  text-align: center;
  padding: 20px 0 20px 0;
  color: #223a59;
}

@media (max-width: 767px) {
  #portfolio .port-card p,
  #portfolio .port-card h5 {
    padding: 10px 0 10px 0;
  }
}

#portfolio .port-card .card-inner {
  display: inline-table;
  opacity: 0;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

.port-card.third-pc::before {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: url(../img/electronics.png);
  background-position: center;
  background-size: cover;
  opacity: .97;
  content: "";
  z-index: -1;
}

.port-card.first-pc::before {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: url(../img/servis.png);
  background-position: center;
  background-size: cover;
  opacity: .97;
  content: "";
  z-index: -1;
}

.port-card.second-pc::before {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: url(../img/vekolino.png);
  background-position: center;
  background-size: cover;
  opacity: .97;
  content: "";
  z-index: -1;
}

.port-card::after {
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(236, 246, 248, 0.98);
  background-position: center;
  background-size: cover;
  opacity: .0;
  content: "";
  z-index: -1;
}

@media (max-width: 767px) {
  .port-card::after {
    margin: 20px;
  }
}

#contact::before {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: -1px;
  bottom: 0;
  right: 0;
  background: url(../img/noviehro.svg) no-repeat;
  background-size: cover;
  content: "";
  z-index: -1;
}

#contact {
  margin-top: -70px;
  -webkit-clip-path: polygon(50% 7%, 100% 0, 100% 100%, 0 100%, 0 0);
          clip-path: polygon(50% 7%, 100% 0, 100% 100%, 0 100%, 0 0);
  color: #00C1FF;
  padding: 120px 0;
  position: relative;
}

@media (max-width: 767px) {
  #contact {
    -webkit-clip-path: polygon(50% 7%, 100% 0, 100% 100%, 0 100%, 0 0);
            clip-path: polygon(50% 7%, 100% 0, 100% 100%, 0 100%, 0 0);
    margin-top: -60px;
    padding: 60px 0;
  }
}

#contact h2 {
  opacity: 0;
  margin-bottom: 40px;
}

#contact .row {
  margin-top: 30px;
}

#contact .container > p {
  opacity: 0;
}

#contact p {
  padding: 0 10px;
  margin: 10px 0;
  color: #00C1FF;
}

#contact a {
  color: inherit;
}

#contact a:hover {
  text-decoration: none;
  color: #721db8;
}

#contact form {
  opacity: 0;
}

#contact form p {
  width: 100% !important;
}

#contact form input,
#contact form textarea,
#contact form button {
  display: block;
  padding: 10px 15px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: 0;
  background: #1e242cc2;
  font-size: 12pt;
  margin-bottom: 3px;
  color: #fff;
}

#contact form button {
  width: 25%;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin: auto;
}

@media (max-width: 767px) {
  #contact form button {
    width: 32%;
  }
}

#contact .social {
  opacity: 0;
}

footer {
  color: #721db8;
  background-color: #02040c;
}

footer a img {
  margin: auto;
  width: 200px;
}
/*# sourceMappingURL=style.css.map */